.photos {
    background-color: black;
}
.contactInfo {
    font-size: 1.25em;
}
.container {
    position: relative;
}
.centered {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color:rgba(0, 0, 0, 0.521);
}