<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="danger" (click)="presentActionSheet()">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br />

  <div class="spinner" *ngIf="showSpinners == true">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>

  <div *ngIf="showSpinners == false">
    <section class="contactInfo">
      <div class="container" text-center>
        <img src="{{ad?.photos[0].url}}">
        <div class="centered">
          <ion-grid>
            <ion-row text-center>
              <ion-col>
                <h1>{{ad?.name}}</h1>
              </ion-col>
            </ion-row>
            <ion-row text-left>
              <ion-col>
                <a href="tel:{{ad?.phone}}">
                  <span>
                    <ion-icon name="call"></ion-icon> {{ad?.phone}}
                  </span>
                </a>
              </ion-col>
              <ion-col>
                <a href="mailto:{{ad?.email}}?subject=LustyLuv">
                  <ion-icon name="mail"></ion-icon> {{ad?.email}}
                </a>
              </ion-col>
            </ion-row>
            <ion-row text-left>
              <ion-col (click)="openWebLink(ad?.website)">
                <ion-icon name="globe" style="font-size: 1.5em;"></ion-icon> <span style="font-size: .5em;">{{ad?.website}}</span>
              </ion-col>
            </ion-row>
            <ion-row text-left>
              <ion-col (click)="openWebLink(ad.website)">
                <ion-icon name="logo-twitter" style="font-size: 1.5em;"></ion-icon> <span style="font-size: .5em;">{{ad?.twitter}}</span>
              </ion-col>
            </ion-row>
            <ion-row text-center *ngIf="ad?.isChatOn == true">
              <ion-col (click)="goToChat()">
                <span style="font-size: 1em">
                  <ion-icon name="chatboxes"></ion-icon> Chat With Me <ion-icon name="chatboxes"></ion-icon>
                </span>
                <p style="font-size: .25em;">Must be a registered user in order to use chat.</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </section>
    <br /><br />
    <section class="photos">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let p of ad?.photos" (click)="openGallery(p)">
          <ion-img [src]="p.url"></ion-img>
        </ion-slide>
      </ion-slides>
    </section>
    <section class="description">
      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <img src="{{ad?.photos[0].url}}" />
          </ion-avatar>
          <ion-label text-center>
            <h2>Name</h2>
            <h3>{{ad?.name}}</h3>
          </ion-label>
          <ion-avatar slot="end">
            <img src="{{ad?.photos[1].url}}" />
          </ion-avatar>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Age</h2>
            <h3>{{ad?.age}}</h3>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Eyes</h2>
            <h3>{{ad?.eyes}}</h3>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Hair</h2>
            <p>{{ad?.hair}}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Measurements</h2>
            <p>{{ad?.measurements}}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Height</h2>
            <h3>{{ad?.height}}</h3>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Weight</h2>
            <h3>{{ad?.weight}}</h3>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Gender</h2>
            <h3>{{ad?.gender}}</h3>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Location</h2>
            <h3>{{ad?.city}}</h3>
          </ion-label>
        </ion-item>
      </ion-list>
      <h2 text-center>Description</h2>
      <p style="padding: 10px;">{{ad?.description}}</p>
    </section>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="danger">
    <ion-title text-center>
      <a href="tel:{{ad?.phone}}">
        <span>
          <ion-icon name="call"></ion-icon> {{ad?.phone}}
        </span>
      </a>
    </ion-title>
  </ion-toolbar>
</ion-footer>