<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Edit Ad
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="danger" (click)="presentActionSheet()">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-group">
    <form [formGroup]="myForm">
      <div style="padding: 10px;">
        <h3>Title</h3>
        <input formControlName="title" class="form-control" type="text" placeholder="My Title">
        <h3>Name</h3>
        <input formControlName="name" class="form-control" type="text">
        <h3>Phone</h3>
        <input formControlName="phone" class="form-control" type="phone">
        <h3>Email</h3>
        <input formControlName="email" class="form-control" type="email" placeholder="myemail@email.com">
        <h3>Website</h3>
        <input formControlName="website" class="form-control" type="url" placeholder="www.mywebsite.com">
        <h3>Twitter</h3>
        <input formControlName="twitter" class="form-control" type="url" placeholder="www.mytwitter.com">
        <h3>Is Chat On?</h3>
        <ion-checkbox color="danger" formControlName="isChatOn"></ion-checkbox>
      </div>
      <section class="photos">
        <ion-slides pager="true" [options]="slideOpts">
          <ion-slide *ngFor="let p of ad?.photos" (click)="openGallery(p)">
            <ion-img [src]="p.url"></ion-img>
          </ion-slide>
        </ion-slides>
      </section>
      <section class="description">
        <ion-list>
          <ion-item>
            <ion-avatar slot="start">
              <img src="{{ad?.photos[0].url}}" />
            </ion-avatar>
            <ion-label text-center>
              <h2>Name</h2>
              <h3>{{ad?.name}}</h3>
            </ion-label>
            <ion-avatar slot="end">
              <img src="{{ad?.photos[1].url}}" />
            </ion-avatar>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>Age</h2>
              <input formControlName="age" class="form-control">
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>Eyes</h2>
              <input formControlName="eyes" class="form-control">
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>Hair</h2>
              <input formControlName="hair" class="form-control">
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>Measurements</h2>
              <input formControlName="measurements" class="form-control">
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>Height</h2>
              <input formControlName="height" class="form-control">
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>Weight</h2>
              <input formControlName="weight" class="form-control">
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>Gender</h2>
              <input formControlName="gender" class="form-control">
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>Ethnicity</h2>
              <input formControlName="ethnicity" class="form-control">
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>Map Button here</h2>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Category</ion-label>
            <ion-label text-center>{{myForm.value.cat2}}</ion-label>
            <ion-select value="{{cat?.title}}" okText="Choose" cancelText="Dismiss" interface="action-sheet"
              formControlName="cat2">
              <ion-select-option *ngFor="let cat of cats | async" value="{{cat?.title}}">{{cat?.title}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <div style="height: 300px;">
          <h2 text-center>Description</h2>
          <ion-textarea rows='12' placeholder="Describe your wants and needs." formControlName="description"></ion-textarea>
        </div>
      </section>
      <ion-button class="button button-full" (click)="save()">SAVE</ion-button>
      <ion-button class="button button-full" color="danger" (click)="save()">DELETE</ion-button>
    </form>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="danger">
    <ion-title text-center>
      <ion-icon name="call"></ion-icon>
      {{myForm.value.phone}}
    </ion-title>
  </ion-toolbar>
</ion-footer>