<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="form-group">
      <input placeholder="{{place?.formatted_address}}" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
        class="form-control" #search [formControl]="searchControl">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="db.lat && db.lng">
    <agm-map [latitude]="db.lat" [longitude]="db.lng" [style.height.vh]="mapHeight" [styles]="styles">
      <agm-marker [latitude]="db.lng" [longitude]="db.lng">
        <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
          <ng-template>
            My first Snazzy Info Window!
          </ng-template>
        </agm-snazzy-info-window>
      </agm-marker>

      <agm-marker *ngFor="let ad of db.query | async" [latitude]="ad?.position.geopoint.latitude" [longitude]="ad?.position.geopoint.longitude">

          <agm-snazzy-info-window [maxWidth]="400" [maxHeight]="600" [closeWhenOthersOpen]="true">
            <ng-template>
              <div class="info-box-wrap">
  
                <div class="info-box-text-wrap">
                  <h3 (click)="goToPage(ad)" text-center>{{ad?.title}}</h3>
                  <p>
                    <img src="{{ad?.photos[0].url}}" style="padding: 0 15px; float: left; max-width: 200px; max-height: 400px; padding-left: 0px;" (click)="goToPage(ad)" />
                  </p>
                  <p style="margin-top: 20px;">
                    {{ad?.cat2}}
                    <a href="mailto:{{ad?.email}}?subject=From LustyLuv.com" target="_blank" class="linkBlack">{{ad?.email}}</a>
                    <br />
                    <a href="tel:{{ad?.phone}}" class="linkBlack">{{ad?.phone}}</a>
                    <br/> {{ad?.description}}
                  </p>
                </div>
              </div>
            </ng-template>
          </agm-snazzy-info-window>
        </agm-marker>
    </agm-map>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-buttons slot="secondary">
      <ion-button (click)="toogleMapHeight()">
        <ion-icon slot="icon-only" name="resize"></ion-icon>
      </ion-button>
      <ion-button (click)="increaseRadius()">
        <ion-badge color="medium">{{db.radius.value}} Rad</ion-badge>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="danger" (click)="presentCatModal()">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>