<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="form-group">
      <input placeholder="{{place?.formatted_address}}" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
        class="form-control" #search [formControl]="searchControl">
    </div>
  </ion-toolbar>
  <div *ngIf="db.lat && db.lng">
    <agm-map [latitude]="db.lat" [longitude]="db.lng" [style.height.vh]="mapHeight" [styles]="styles" (mapClick)="setMarker($event)">

        <agm-marker [latitude]="db.lat" [longitude]="db.lng">

            <agm-snazzy-info-window [maxWidth]="400" [closeWhenOthersOpen]="true">
              <ng-template>
                <div class="info-box-wrap">
    
                  <div class="info-box-text-wrap">
                    <h3 (click)="goToPage('AdPage', ad)">You are here.</h3>
                    <p>{{db.lat}} {{db.lng}}</p>
                    <p>{{address}}</p>
                    <img *ngFor="let photo of googlePhotos" src="photo">
                    <!--<div [innerHTML]="yourHtmlData"></div>-->
                  </div>
                </div>
              </ng-template>
            </agm-snazzy-info-window>
    
          </agm-marker>

      <agm-marker *ngFor="let ad of db.query | async" [latitude]="ad?.position.geopoint.latitude" [longitude]="ad?.position.geopoint.longitude">

        <agm-snazzy-info-window [maxWidth]="400" [maxHeight]="600" [closeWhenOthersOpen]="true">
          <ng-template>
            <div class="info-box-wrap">

              <div class="info-box-text-wrap">
                <h3 (click)="goToPage(ad)" text-center>{{ad?.title}}</h3>
                <p>
                  <img src="{{ad?.photos[0].url}}" style="padding: 0 15px; float: left; max-width: 200px; max-height: 400px; padding-left: 0px;"
                    (click)="goToPage(ad)" />
                </p>
                <p style="margin-top: 20px;">
                  {{ad?.cat2}}
                  <a href="mailto:{{ad?.email}}?subject=From LustyLuv.com" target="_blank" class="linkBlack">{{ad?.email}}</a>
                  <br />
                  <a href="tel:{{ad?.phone}}" class="linkBlack">{{ad?.phone}}</a>
                  <br /> {{ad?.description}}
                </p>
              </div>
            </div>
          </ng-template>
        </agm-snazzy-info-window>
      </agm-marker>
      <agm-circle [latitude]="db.lat" [longitude]="db.lng" [radius]="db.radius.value * 1000" [fillColor]="'grey'"
        [circleDraggable]="false" [editable]="true" (circleClick)="setMarker($event)">
      </agm-circle>
    </agm-map>
  </div>
</ion-header>

<ion-content>


  <ion-card *ngFor="let ad of db.query | async" (click)="goToPage(ad)">
    <ion-img src="{{ad.photos[0].url}}"></ion-img>
    <ion-card-content>
      <ion-card-title>{{ad?.title}}</ion-card-title>
      <p>{{ad?.city}} <small style="color:lightgrey;">{{ad?.cat2}}</small></p>
      <p>{{ad?.email}}</p>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-buttons slot="secondary">
      <ion-button (click)="toogleMapHeight()">
        <ion-icon slot="icon-only" name="resize"></ion-icon>
      </ion-button>
      <ion-button (click)="increaseRadius()">
        <ion-badge color="medium">{{db.radius.value}} Rad</ion-badge>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="danger" (click)="presentCatModal()">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>