ion-card {
    margin-left: 5px;
    margin-right: 5px;
}

a {
    color: inherit;
    text-decoration: none;
}

ion-slide {
    height: 100vh;
    flex-direction: column;
}

ion-img {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}