<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Authorization</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://firebasestorage.googleapis.com/v0/b/lustyluv-e5238.appspot.com/o/defaultimages%2FLustyLuvLogobannerol.png?alt=media&token=08749a68-6e5b-4311-8fc5-0119157c1f50"
    style="width: 100%;" />

  <ion-item>
    <ion-label text-center>
      <h4>One click registration and login.</h4>
    </ion-label>
  </ion-item>
  <form [formGroup]="authForm" (ngSubmit)="logInViaEmail()">
    <ion-item>
      <ion-label>
        Email
      </ion-label>
      <ion-input required type="email" placeholder="me@lustyLuv.com" name="username" id="username" formControlName="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Password
      </ion-label>
      <ion-input required type="password" type="password" name="password" id="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button shape="round" color="primary" fill="outline" type="submit">LogIn/Register</ion-button>
    </ion-item>
  </form>
  <ion-item>
    <ion-label text-center>
      <p><small>Use social media. To register/login.</small></p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label text-center>
      <ion-icon name="logo-google"></ion-icon> Google
    </ion-label>
  </ion-item>
  <ion-item text-center>
    <ion-label text-center>
      <ion-icon name="logo-facebook"></ion-icon> Facebook
    </ion-label>
  </ion-item>
  <ion-item text-center>
    <ion-label text-center>
      <ion-icon name="logo-twitter"></ion-icon> Twitter
    </ion-label>
  </ion-item>
</ion-content>