// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-content {
    --background:#3b3a3a;;
    --color: var(--ion-text-color, rgb(255, 255, 255));
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-start: 0px;
    --padding-end: 0px;
    --keyboard-offset: 0px;
    --offset-top: 0px;
    --offset-bottom: 0px;
    display: block;
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 !important;
    margin: 0 !important;
    background: var(--background);
    color: var(--color);
    font-family: var(--ion-font-family, inherit);
    contain: layout size style;
}

ion-card {
    position: relative;
    text-align: center;
    background-color: black;
}

.card-title {
    position: absolute;
    bottom: 10px;
    left: 0px;
    font-size: 1em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    background-color: #222;
}

.card-title-alt {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    background-color: black;
}

.card-subtitle {
    font-size: 1.0em;
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: #fff;
    background-color: black;
}

.cardBorder {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px solid #ffffff;
    -webkit-box-shadow: 5px 5px 17px 2px rgba(0, 0, 0, 0.79);
    -moz-box-shadow: 5px 5px 17px 2px rgba(0, 0, 0, 0.79);
    box-shadow: 5px 5px 17px 2px rgba(0, 0, 0, 0.79);
}

ion-menu-button {
    color:white;
}

ion-item {
    background-color: #222;
    color:white;
}

a { 
    color: inherit;
    text-decoration : none; 
} 

.spinner {
    margin: 100px auto;
    width: 100px;
    height: 80px;
    text-align: center;
    font-size: 20px;
  }
  
  .spinner > div {
    background-color: rgb(203, 203, 203);
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }

  ion-card-content {
    background-color: black;
    color:white;
    padding: 5px !important;
  }

  ion-card-title{
    color: white;
  }


// Content
$si-content-bg: #fff !default; // Background color of the infowindow
$si-content-padding: 30px !default; // Padding of the infowindow
$si-font-size: 14px !default; // Font size of the infowindow content

// Border
$si-border-width: 1px !default; // Width of the border
$si-border-color: #bbb !default; // Color of the border
$si-border-radius: 3px !default; // Border radius of the infowindow

// Pointer
$si-pointer-length: 15px !default; // Length of the pointer, from the edge of the infowindow to the tip

// Shadow
$si-shadow-h: 0 !default; // Shadow horizontal offset
$si-shadow-v: 1px !default; // Shadow vertical offset
$si-shadow-blur: 3px !default; // Shadow blur radius
$si-shadow-spread: 0 !default; // Shadow spread radius
$si-shadow-color: #000 !default; // Shadow color
$si-shadow-opacity: 0.298039 !default; // Shadow opacity

// Close button
$si-close-font-size: 24px !default; // Size of the close button text
$si-close-opacity: 0.5 !default; // Initial opacity of the close button
$si-close-hover-opacity: 0.7 !default; // Hover and focus opacity of the close button

.si-float-wrapper {
  position: absolute;
  width: 100%;
}

.si-float-wrapper,
.si-float-wrapper * {
  box-sizing: border-box;
}

[class*='si-wrapper'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  cursor: default;
}

.si-wrapper-top {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: -40px;
  margin-left: 0px;
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
}

.si-wrapper-bottom {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  margin-top: 0px;
  margin-left: 0px;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.si-wrapper-left {
  margin-top: -20px;
  margin-left: -11px;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.si-wrapper-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  margin-top: -20px;
  margin-left: 11px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

[class*='si-shadow-wrapper'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.29804;
  z-index: 1;
}

.si-shadow-wrapper-top,
.si-shadow-wrapper-bottom {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.si-shadow-pointer-bottom,
.si-shadow-pointer-right {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.si-shadow-frame {
  box-shadow: 0 1px 3px 0 #000;
}

[class*='si-shadow-pointer'] {
  position: relative;
  width: 15px;
  height: 15px;
  margin: auto;
}

[class*='si-shadow-inner-pointer'] {
  position: absolute;
  width: 141%;
  height: 141%;
  box-shadow: -0.70711px 0.70711px 3px 0 #000;
}

.si-shadow-inner-pointer-top {
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.si-shadow-inner-pointer-bottom {
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%) rotate(-45deg);
  transform: translate(-50%, 50%) rotate(-45deg);
}

.si-shadow-inner-pointer-left {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.si-shadow-inner-pointer-right {
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%) rotate(-45deg);
  transform: translate(50%, -50%) rotate(-45deg);
}

.si-frame {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  border-radius: 3px;
  overflow: hidden;
  z-index: 2;
}

.si-content-wrapper {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  padding: 30px;
  background-color: #fff;
}

.si-has-border .si-content-wrapper {
  border: 1px solid #bbb;
}

.si-content {
  overflow: auto;
}

.si-close-button {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  outline: none;
  background-color: transparent;
  color: inherit;
  font-family: Arial, Baskerville, monospace;
  font-size: 24px;
  cursor: pointer;
  opacity: 0.5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.si-close-button:hover,
.si-close-button:focus {
  opacity: 0.7;
}

[class*='si-pointer-border'] {
  position: absolute;
  border: 15px solid transparent;
  z-index: 3;
}

[class*='si-pointer-bg'] {
  position: relative;
  border: 15px solid transparent;
  z-index: 4;
}

.si-has-border [class*='si-pointer-bg'] {
  border-width: 15px;
}

.si-pointer-border-top,
.si-pointer-border-bottom {
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.si-pointer-border-left,
.si-pointer-border-right {
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.si-pointer-top {
  border-bottom: 0;
}

.si-pointer-border-top {
  bottom: 0;
  border-top-color: #bbb;
}

.si-pointer-bg-top {
  border-top-color: #fff;
}

.si-has-border .si-pointer-bg-top {
  top: -1px;
  margin-bottom: 0px;
}

.si-pointer-bottom {
  border-top: 0;
}

.si-pointer-border-bottom {
  top: 0;
  border-bottom-color: #bbb;
}

.si-pointer-bg-bottom {
  border-bottom-color: #fff;
}

.si-has-border .si-pointer-bg-bottom {
  bottom: -1px;
  margin-top: 0px;
}

.si-pointer-left {
  border-right: 0;
}

.si-pointer-border-left {
  right: 0;
  border-left-color: #bbb;
}

.si-pointer-bg-left {
  border-left-color: #fff;
}

.si-has-border .si-pointer-bg-left {
  left: -1px;
  margin-right: 0px;
}

.si-pointer-right {
  border-left: 0;
}

.si-pointer-border-right {
  left: 0;
  border-right-color: #bbb;
}

.si-pointer-bg-right {
  border-right-color: #fff;
}

.si-has-border .si-pointer-bg-right {
  right: -1px;
  margin-left: 0px;
}